
<head>
    <meta charset="utf-8">
    <title>Garbage Classification</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->


    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->


<link href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='lib/animate/animate.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='lib/twentytwenty/twentytwenty.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">


</head>
  


<body>


  <div class="container-fluid bg-primary py-5 hero-header mb-5">
        <div class="row py-3">
            <div class="col-12 text-center">
                <h1 class="display-3 text-white animated zoomIn">Recycle Plant Manager</h1>
                
            </div>
        </div>
    </div>

<div class="container-fluid py-5">

        <div class="container">
          
          <br>{% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                          {% for category, message in messages %}
                          <center><h2 style="color: red;">{{ message }}</h2></center>
                          {% endfor %}
                        {% endif %}
                      {% endwith %}<br>
          <div class="row">
          <div class="col-xl-3 col-lg-2"></div>
            <div class="col-xl-5 col-lg-5 wow slideInUp" data-wow-delay="0.1s">
                <center><h1>Log in</h1></center>
                <div class=" wow slideInUp" data-wow-delay="0.3s">
                    <form action="{{url_for('login')}}" method='post'>
                        <div class="row g-3">
                            <br><br><br>
                            <div class="col-12">
                                <input type="email" class="form-control border-0 bg-light px-4" name='email' placeholder="Your Email" style="height: 55px;border-radius: 10px">
                            </div>
                            <br><br><br>
                            <div class="col-12">
                                <input type="password" class="form-control border-0 bg-light px-4" placeholder="Your Password" name='upass' style="height: 55px;border-radius: 10px">
                            </div>
                            <br><br><br>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit" name='submit' style="border-radius: 10px">Log In</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
            
            </div>
            </div> 
        </div>
    </div>


    <div class="container-fluid text-light py-4" style="background: #051225;">
        <div class="container">
            <div class="row g-0">
                <div class="col-md-6 text-center text-md-start">
                    <p class="mb-md-0">&copy; <a class="text-white border-bottom" href="#">IRT</a>. All Rights Reserved.</p>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <p class="mb-0">Designed by <a class="text-white border-bottom" href="https://htmlcodex.com">Ideonix Solutions</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='lib/wow/wow.min.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/easing/easing.min.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/tempusdominus/js/moment.min.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/tempusdominus/js/moment-timezone.min.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/twentytwenty/jquery.event.move.js')}}"></script>
    <script src="{{ url_for('static', filename='lib/twentytwenty/jquery.twentytwenty.js')}}"></script>

    <!-- Template Javascript -->
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
</body>

</html>






